h3{
  .c-acsm__content &{
    color: #650360!important;
    font-weight: 300;
    text-transform: uppercase;
    line-height: 1.04167;
    margin-bottom: 12px;
  }
}


.modaal-container{
  @include mq($from : desktop){
    max-height: 75vh;
    overflow: auto;

  }
  @include mq($from : tablet){
    width: 75%;
    max-width: 100%;
  }
}

.modaal-wrapper .modaal-close {
  position: absolute;
  right: 12px;
  top: 12px;
  color: #fff;
  cursor: pointer;
  opacity: 1;
  width: 36px;
  height: 36px;
  border-radius: 100%;
  transition: all .2s ease-in-out;
  background: rgba(#1b6e9d, 1);
}

.modaal-close:after, .modaal-close:before {
  display: block;
  content: " ";
  position: absolute;
  top: 9px;
  left: 17px;
  width: 3px;
  height: 18px;
  border-radius: 2px;
  background: #fff;
  transition: background .2s ease-in-out;
}

.modaal-close:focus, .modaal-close:hover {
  outline: none;
  background: rgba(#1b6e9d, 0.2);
}

close:focus:before, .modaal-close:hover:after, .modaal-close:hover:before {
  background: #b93d0c;
}


.modaal-container {
  width: 800px !important;
  max-width: 100%;
}

//.c-btn--primary{
//  background: #ffe464;
//  border: 1px solid #cdd4dd;
//  text-align: center;
//  white-space: nowrap;
//  border-radius: 5px;
//  padding: 9px;
//  cursor: pointer;
//  transition: background 0.3s ease-in-out;
//  text-decoration: none;
//}
//.c-btn--primary:hover{
//  text-decoration: none;
//  background: darken(#ffe464, 10%);

.c-acsm-img-wrapper {
  position: relative;
  display: inline-block;
  text-align: center;
}

.c-acsm-img__button.is-overlay {
  transition: background 0.3s ease-in-out;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 0.5em 1em;
  border-radius: 0;
  font-weight: normal;
  pointer-events: none;
  .c-acsm-img-wrapper:hover &{
    background: rgba(0, 0, 0, 0.9);
  }
}

.has-label-below .c-acsm-img__label {
  display: block;
  margin-top: 0.5em;
  font-weight: normal;
}
