h3{
  .c-acsm__content &{
    color: #650360!important;
    font-weight: 300;
    text-transform: uppercase;
    line-height: 1.04167;
    margin-bottom: 12px;
  }
}


.modaal-container{
  @include mq($from : desktop){
    max-height: 75vh;
    overflow: auto;
  }
}
